*.pyc
credentials.dat
statistic.txt
.DS_Store
my_settings.py
.idea
webapp/keys.py

RDFGraphs/tmp
!RDFGraphs/project_statement_example.n3
*.aux
demo.log
*.nav
demo.out
demo.synctex.gz
demo.toc
demo.snm